<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
            <div ng-if="Logged; then block else block2">
                <ng-template #block>
                <a class="navbar-brand" href="#">Add Panelist</a>
                <a class="navbar-brand" href="#">View Panelist</a>
                <a class="navbar-brand" href="#">View Ideas</a>
                </ng-template>
                <ng-template #block2>
                    <a class="navbar-brand" href="#">Add Panelist</a>
                </ng-template>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                    <li>
                            <a>
                            <div (click)="Dash()">    
                                <i class="material-icons">dashboard</i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </div>
                            </a>
                        </li>
                        <li *ngIf="Logged">
                            <a>
                            <div onclick="document.getElementById('login').style.display='block'">
                               <i class="material-icons" >person</i>
                               <p class="hidden-lg hidden-md">Profile</p>
                            </div>
                            </a>
                        </li>
            </ul>
        </div>
        <div id="login" class="modal"> 
            <form class="modal-content animate">
              <div class="imgcontainer">
                <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
              </div>
              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" id="uname" required (ngModel)="uname1">
                <br/>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required (ngModel)="psw1" >
                <br/>
                
              </div>
          
              <div class="container" style="position:center;width:75%">
                <button type="submit" (click)="Login(uname1,psw1)">Login</button>
            </div>      
                
            </form>
        </div>
    </div>
</nav>
 <!-- <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                  
                <button type="submit">Login</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
          
              <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
              </div> -->