<nav  class="navbar navbar-absolute" style="background-color: #e9ecf3" >

    <div class="container-fluid">
        <div class="navbar-header" style="text-align:center;">
                <div  *ngIf="Logged" class="navbar-brand" style="font-weight: 500;font-size: 30px;" >   <!--for cite-->
                    CITE Application Portal
                    <!-- &nbsp;&nbsp;&nbsp;CITE -->
                    
                </div>
                <div class="row">
                    <div class="col-md-3"><img *ngIf="!Logged && admin" src="/assets/img/head.png" style="width:40px;height:40px;"/></div>
                    <div *ngIf="!Logged && admin" class="navbar-brand col-md-9" style="font-weight: 500;font-size: 20px;"> <!--for admin-->
                        <strong>Hello Admin ,</strong>
                   </div>
                </div>
                
                <div class="row">
                        <div class="col-md-3"><img *ngIf="!Logged && !admin" src="/assets/img/head.png" style="width:40px;height:40px;"/></div>
                        <div *ngIf="!Logged && !admin" class="navbar-brand" style="font-weight: 500;font-size: 20px;"> <!--for panelist-->
                            <strong>Hello {{panelname}} ,</strong>
                        </div>
                    </div>
                
            <button  type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                    <!-- <li>
                            <button (click)="Dash()" type="button" rel="tooltip" title="Dashboard" class="btn btn-danger btn-simple"><i class="material-icons" style="font-size:20px;color:black;padding-bottom:5px">dashboard</i></button>
                        </li> -->
                        <li *ngIf="Logged">
                            <button onclick="document.getElementById('login').style.display='block'" type="button" rel="tooltip" title="LOG IN" class="btn btn-danger btn-simple"><i class="material-icons" style="font-size:30px;color:black;padding-bottom:5px" >person</i></button>
                        </li>
                        <li *ngIf="!Logged">
                                <button type="button" rel="tooltip" title="LOG OUT" class="btn btn-danger btn-simple">
                            <a (click)="logout()">
                                    <span style="font-size:20px;color:black;" class="glyphicon glyphicon-log-out"></span>
                            </a></button>
                        </li>
            </ul>
        </div>
        <div *ngIf="Logged" id="login" class="modal"> 
            <form class="modal-content animate">
              <div class="imgcontainer">
                <span (click)="closeModal();" class="close" title="Close Login">&times;</span>
              </div>
              <div class="container">
                  
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<label for="uname"><b>Username</b></label><br/>
                <input #uname type="text" name="uname" id="uname" required />
              
                <br/>
                <span class="glyphicon glyphicon-lock" ></span>&nbsp;&nbsp;<label for="psw"><b>Password</b></label><br/>
                <input #psw type="password" name="psw" id="psw" required />
                
                
              </div>
          
              <div class="container" style="position:center;width:75%">
                    <button class="login" id="login" type="submit" (click)="Login($event)">
                        <span class="text"><b>Login</b></span>
                        <span class="btnBefore"></span>
                        <span class="btnAfter"></span>
                    </button>
                </div>     
                
            </form>
        </div>
    </div>
</nav>
 <!-- <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                  
                <button type="submit">Login</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
          
              <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
              </div> -->