<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">List of StartUps</h4>
                        <p class="category" style="font-size:20px">
                    </div>
                    <div class="category">
                        <div class="col-md-6"></div>
                        <div class="col-md-2">
                            <h5>Category</h5>
                            <select (ngModelChange)="selectCategory($event)" [(ngModel)]="category1" #Category="ngModel">
                                <option selected >ALL</option>
                                <option>CONSUMER</option>
                                <option>E-COMMERCE</option>
                                <option>EDUCATION</option>
                                <option>HEALTHCARE</option>
                                <option>LOGISTICS</option>
                                <option>MANUFACTURING</option>
                                <option>TECHNOLOGY</option>
                                <option>OTHERS</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <h5>Status</h5>
                            <select (ngModelChange)="selectStatus($event)" [(ngModel)]="status1" #status="ngModel">
                                <option selected >ALL</option>
                                <option>ACCEPTED</option>
                                <option>REJECTED</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                                <h5>Round</h5>
                                <select (ngModelChange)="selectRound($event)" [(ngModel)]="round1" #round="ngModel">
                                    <option selected >ALL</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead >
                                <tr class="txt">
                                    <th>Startup Name</th>
                                    <th>Startup Idea</th>
                                    <th>Category</th>
                                    <th>Panelist</th>
                                    <th>Round</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr id="list" class="list" (click)="goToForm(stup.formid)" *ngFor="let stup of startups | paginate: {itemsPerPage: 50, currentPage:page, id: '1'}; let i = index" >
                                            <td>{{stup.startupName}}</td>
                                            <td>{{stup.startupIdea}}</td>
                                            <td>{{stup.category}}</td>
                                            <td>{{stup.panelist}}</td>
                                            <td>{{stup.round}}</td>
                                            <td *ngIf="stup.status=='YES'" style="color:green">Accepted</td>
                                            <td *ngIf="stup.status=='NO'" style="color:red" >Rejected</td>
                                            <td *ngIf="stup.status=='NEW'">New</td>
                                        </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event" id="1"
                            maxSize="50"
                            directionLinks="true"
                            autoHide="true">
                        </pagination-controls>

                    </div>
                </div>
            </div>
        </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="row" id="form" name="form">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Startup Form</h4>
                    <p class="category">Details about selected startup</p>
                </div>
                <div class="card-content viewingForm ">
                                
                        <div><h3 class="text-center">{{currentevalStartup.startupName}}</h3></div>
                        <table>
                            <thead>
                                <th style="width:200px"></th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody style="font-size:15px" >
                                <tr>
                                    <td class="heading">IDEA</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.startupIdea}}</td>
                                </tr><br/>
                                <tr>
                                        <td class="heading">DESCRIPTION</td>
                                        <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                        <td>{{currentevalStartup.description}}</td>
                                    </tr><br/>
                                <tr>
                                    <td class="heading" >Legal Entity</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.legalEntity}}</td>
                                </tr><br/>
                                <tr>
                                        <td class="heading">CATEGORY</td>
                                        <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                        <td>{{currentevalStartup.category}}</td>
                                    </tr><br/>
                                <tr>
                                    <td class="heading" >Working Model</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.workingIdea}}</td>
                                </tr><br/>
                                <tr>
                                    <td class="heading" >Operational Revenue</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.operationalRevenue}}</td>
                                </tr><br/>
                                <tr>
                                    <td class="heading">Primary Customer</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.primaryCustomer}}</td>
                                </tr><br/>
                                <tr>
                                    <td class="heading">Targetted Pain Point</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.painPoint}}</td>
                                </tr><br/>
                                <tr>
                                        <td class="heading">Competitors</td>
                                        <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                        <td>{{currentevalStartup.competitors}}</td>
                                    </tr><br/>
                                <tr>
                                    <td class="heading">Different From Competitors</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.differentFromCompetitors}}</td>
                                </tr><br/>
                                 <tr>
                                    <td class="heading">Monetization Model</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.moneyModel}}</td>
                                </tr><br/>
                                <tr>
                                    <td class="heading">Founders</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td >
                                        <div class="row" *ngFor="let f of currentevalStartup.founders">
                                            <div class="col-md-4">{{f.name}}</div>   
                                            <div class="col-md-6">{{f.email}}</div>   
                                            <div class="col-md-2">{{f.contact}}</div> 
                                            <br/>
                                        </div>  
                                    </td>
                                </tr><br/>
                                <tr>
                                    <td class="heading">Rating</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.rating}}</td>
                                </tr><br/>
                                <tr>
                                    <td class="heading">Note</td>
                                    <td style="font-size:1.4em;font-weight:700;">:&nbsp;</td>
                                    <td>{{currentevalStartup.note}}</td>
                                </tr><br/>
                            </tbody>
                        </table>
                  <div class="form-group ">
                    <button type="button" class="btn btn-round" (click)="goToTop('list')" style="background-color:#1a3f74;font-size:15px;">Back to list</button>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    </div>
</div>