<div class="logo" style="height:80px;padding-top:0px;">
    
       
        <div class="logo-img">
            <img src="/assets/img/sptbi_sidebar.png" style="width:100px;margin-top:6px;margin-left: 55px;"/>
    </div>
    
      <!--<div class="text-center" style="font-size:20px;color:#1a3f74;margin-left:20px"><strong>SP TBI</strong></div>-->
    
</div>
<div class="sidebar-wrapper">

    <ul class="nav nav-mobile-menu"  *ngIf="isMobileMenu()">
            <li>
                    <a>
                    <div (click)="Dash()">    
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </div>
                    </a>
                </li>
                <li *ngIf="!Logged">
                    <a>
                    <div (click)="hideSidebar();">
                       <i class="material-icons" >person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </div>
                    </a>
                </li>
                <li *ngIf="Logged">
                    <a (click)="logout()">
                            <span style="font-size:17px" class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
    </ul>

    <div class="nav-container" >
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>

