<div class="main-content">
    <div class="container-fluid">
            <nav class="row">
                    <div class="col-md-4 container-fluid">
                        <button class="btn text-center active btn-group-justified" (click)="route1()">Add Panelist</button>
                    </div>
                    <div class="col-md-4 container-fluid">
                        <button class="btn text-center active btn-group-justified" (click)="route2()">View Panelist</button>
                    </div>
                    <div class="col-md-4 container-fluid">
                        <button class="btn text-center active btn-group-justified" (click)="route3()">View Ideas</button>
                    </div>
                </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Panelists</h4>
                    </div>
                    <div class="category">
                            <div class="col-md-6">
                                <h5>Category</h5>
                                <select (ngModelChange)="ConvergeCat($event)" [(ngModel)]="Category1" #Category="ngModel">
                                    <option selected="selected">All</option>
                                    <option>Finance</option>
                                    <option>Marketing</option>
                                    <option>Tech</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <h5>Round</h5>
                                <select (ngModelChange)="ConvergeRound($event)" [(ngModel)]="Roundno" #Round="ngModel">
                                    <option selected="selected">All</option>
                                    <option>Round 1</option>
                                    <option>Round 2</option>
                                </select>
                            </div>
                        </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="txt">
                                <tr>
                                    <th>Id</th>
                                    <th>Password</th>
                                    <th>Round</th>
                                    <th>Category</th>
                                    <th>Startups</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let val of sorts1">
                                <tr>
                                    <td *ngFor="let i of val">
                                        <p>{{ i }}</p>
                                    </td>
                                    <i class="material-icons" onclick="delete($event)">delete</i>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
