
<div [@dialog] class="main-content">
        <div class="container-fluid">
            <div class="row">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title"><strong>Login</strong></h4>
                            <p class="category" style="font-size:17px">Only for Admin and Panelist</p>
                        </div>
                        <div class="card-content">
                            <form #login="ngForm" (ngSubmit)="Login(login)">
                                    <div class="form-group label-floating is-empty">
                                            <label class="control-label" style="font-size:20px" for="idea">Username</label>
                                            <input class="form-control" name="uname" id="uname" required  [(ngModel)]="name1" #uname="ngModel"/>
                                            <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">
                                                <div *ngIf="uname.errors.required">          
                                                    Startup name is required.
                                                </div>
                                            </div>
                                    </div>  

                                    <div class="form-group label-floating is-empty">
                                            <label class="control-label" style="font-size:20px" for="idea">Password</label>
                                            <input type="password" class="form-control" name="pass" id="pass" required  [(ngModel)]="pass1" #pass="ngModel"/>
                                            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                                                <div *ngIf="pass.errors.required">          
                                                    Startup name is required.
                                                </div>
                                            </div>
                                    </div>  

                                    <div class="form-group ">
                                            <button type="submit" class="btn pull-right" [disabled]="login.invalid" onclick="document.getElementById('login').style.display='block'"> Login</button>
                                            <div class="clearfix"></div>
                                    </div>
                            </form>
                        </div>
                    </div>  
            </div>
        </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>


<div id="login" class="modal"> 
    <form class="modal-content animate" >
      <!-- <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="" alt="Avatar" class="avatar">
      </div> -->
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
 </div>